<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finearter.dbs.mapper.CollectionBillMapper">
  <resultMap id="BaseResultMap" type="com.finearter.dbs.model.entity.CollectionBill">
    <!--@mbg.generated-->
    <!--@Table collectionBill-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="pay_status" jdbcType="VARCHAR" property="payStatus" />
    <result column="decorate_id" jdbcType="INTEGER" property="decorateId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, customer_id, payee, amount, `date`, pay_way, pay_status, decorate_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from collectionBill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from collectionBill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.finearter.dbs.model.entity.CollectionBill" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into collectionBill (customer_id, payee, amount, 
      `date`, pay_way, pay_status, 
      decorate_id)
    values (#{customerId,jdbcType=INTEGER}, #{payee,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, 
      #{date,jdbcType=TIMESTAMP}, #{payWay,jdbcType=VARCHAR}, #{payStatus,jdbcType=VARCHAR}, 
      #{decorateId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.finearter.dbs.model.entity.CollectionBill" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into collectionBill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="payee != null">
        payee,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="payWay != null">
        pay_way,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="decorateId != null">
        decorate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="payee != null">
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="payWay != null">
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="decorateId != null">
        #{decorateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.finearter.dbs.model.entity.CollectionBill">
    <!--@mbg.generated-->
    update collectionBill
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="payee != null">
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="payWay != null">
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="decorateId != null">
        decorate_id = #{decorateId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.finearter.dbs.model.entity.CollectionBill">
    <!--@mbg.generated-->
    update collectionBill
    set customer_id = #{customerId,jdbcType=INTEGER},
      payee = #{payee,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      `date` = #{date,jdbcType=TIMESTAMP},
      pay_way = #{payWay,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      decorate_id = #{decorateId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>